* {
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration:none;
}
/*
.header-wrapper {
  height: 72px;
  width: 100vw;
  position: fixed ;
  z-index: 1000;
}
.header-block {
  height: inherit;background-color: rgba(0, 0, 0, 1);
}
.header-block p {
  font-size: 68px;
}

.article-wrapper {
  height: 800px;
  background-color: rgba(12, 12, 12, 1);
  position: relative ;
}
.article-title-block {
  height: 81px;
  position: absolute ;
  width: 75%;
  top: 27px;
  margin: 0 0 27px 0;
}
.article-block {
  height: auto;
  position: absolute ;
  top: 130px;
  margin: 0 15%;
}
*/
.base {
  background-color: rgba(67, 67, 67, 1);
  width: 100%;
  max-width: 900px;
  min-width: 700px;
  margin: 0 auto;
  padding: 0 70px;;
}





.header-wrapper {
  background-color: rgba(241, 168, 167, 0.3);
  height: 180px;
}

.title-contents {
  height: 120px;
}
.title-main-block {
  
}
.title-sub-block {
  
}


.link-contents {
  height: 60px;
  position: relative ;
}
.link-home {
  position: absolute ;
  width: 15%;
}
.link-profile {
  position: absolute ;
  width: 15%;
  left: 15%;
}
.link-movie {
  position: absolute ;
  width: 15%;
  left: 30%;
}
.link-contact {
  position: absolute ;
  right: 0;
  width: 15%;
}
.link {
  text-align: center;
  padding: 0px 12px;
}
.link a {
  display: block;
  color: rgba(32, 32, 32, 1);
  background-color: rgba(247, 247, 247, 1);
  border-color: rgba(32, 32, 32, 1);
  border-style: solid;
  transition: 0.5s;
}
.link a:hover {
  color: rgba(247, 247, 247, 1);
  background-color: rgba(60, 60, 60, 1);
  border-color: rgba(32, 32, 32, 1);
}




.main-wrapper {
  background-color: rgba(182, 177, 231, 0.2);
  position: relative;
  min-height: 1000px;
}

.center-contents {
  background-color: rgba(164, 246, 162, 0.2);
  margin: 0 200px;
}
.article-block {
  background-color: rgba(247, 161, 240, 0.2);
}

.left-contents {
  position: absolute;
  top: 0;
  width: 200px;
}
.profile-block {
  background-color: rgba(247, 161, 240, 0.2);
  padding: 12px;
}
.ad-block {
  background-color: rgba(238, 222, 170, 0.2);
  height: 100px;
}
.ad-description-block {
  background-color: rgba(247, 161, 240, 0.2);
  padding: 0 12px;
}
.blog-link-block {
  background-color: rgba(238, 222, 170, 0.2);
  padding: 0 12px;
}
.profile-block img{
  width: 100%;
}
.blog-link-block a {
  display: block;
  color: rgba(32, 32, 32, 1);
  background-color: rgba(247, 247, 247, 1);
  border-color: rgba(32, 32, 32, 1);
  border-style: solid;
  transition: 0.5s;
}


.right-contents {
  position: absolute;
  top: 0px;
  right: 0;
  width: 200px;
}
.snslink-block {
  background-color: rgba(247, 161, 240, 0.2);
  padding: 12px;
  text-align: center ;
}
.snslink-twitter a {
  display: block;
  color: rgba(212, 100, 55, 1);
  background-color: rgba(247, 247, 247, 1);
  border-color: rgba(32, 32, 32, 1);
  border-style: solid;
  transition: 0.5s;
  color: rgba(98, 212, 208, 1);
}
.snslink-youtube a {
  display: block;
  color: rgba(50, 10, 14, 1);
  background-color: rgba(247, 247, 247, 1);
  border-color: rgba(32, 32, 32, 1);
  border-style: solid;
  transition: 0.5s;
  margin: 8px 0;
}
.snslink-linea a {
  display: block;
  color: rgba(76, 218, 54, 1);
  background-color: rgba(247, 247, 247, 1);
  border-color: rgba(32, 32, 32, 1);
  border-style: solid;
  transition: 0.5s;
}
.category-block {
  background-color: rgba(238, 222, 170, 0.2);
  padding: 12px;
  height: 360px;
}
.archive-block {
  background-color: rgba(247, 161, 240, 0.2);
  padding: 12px;
  height: 360px;
}





.footer-wrapper {
  background-color: rgba(62, 82, 82, 0.2);
}




