body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration:none;
}

p {
  color: rgba(180, 180, 180, 1);
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.left-header {
  
}
.icon {
  height: 40px;
  width: 70px;
  background-color: rgba(20, 200, 200, 1);
}

.right-header {
  
}


.main-wrapper {
  position: relative;
  background-color: rgba(180, 180, 120, 1);
}


.left {
  position:absolute;
  height: 1700px;
  width: 27%;
  top: 60px;
  background-color: rgba(0, 0, 50, 0.8);
  z-index: 100;
}
.profile {
  border: 1px solid #aaa;
  height: 500px;
  background-color: rgba(60, 0, 0, 0.8);
}
.addxm {
  height: 200px;
  background-color: rgba(40, 0, 0, 0.8);
}
.exxm {
  height: 200px;
  background-color: rgba(20, 0, 0, 0.8);
}


.center {
  position:absolute;
  margin: 0;
  top: 120px;
  left: 27%;
  width: 55%;/*100-(left-wrapper width+right-wrapper width)*/
  background-color: rgba(0, 50, 50, 0.8);
}
.article-wrapper {
  
}
.no1 {
  
}


.right {
  position:absolute;
  height: 2100px;
  width: 18%;
  top: 60px;
  right: 0;
  background-color: rgba(0, 0, 50, 0.8);
  z-index: 100;
}
.category-wrapper {
  position: relative;
  border: 1px solid #aaa;
}
.category {
  position:absolute;
  top: 95%;
  height: 5%;
  background-color: rgba(0, 20, 50, 0.9);
}
.category p {
  color: pink;
}
