* {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

p {
  color: white;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 35px;
}

.header-wrapper {
  height: 72px;
  width: 100vw;
  background-color: rgba(125, 200, 115, 0);
  position: fixed ;
  z-index: 1000;
  
}
.header-block {
  height: inherit;
  background-color: rgba(233, 249, 224, 1);
  
}
.header-block p {
  font-size: 68px;
  margin-left: 40px;
  color: rgba(10, 0, 32, 1);
}


.main-wrapper {
  height: 92vh;
  width: 100vw;
  position: fixed ;
  z-index: 100;
}
.main-block {
  
}
.main-block img{
  height: 46vh;
  width: auto;
  top: 30%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute ;
}



.hidden-wrapper {/*メインを固定したら高さ判定がなくなったので高さのために追加*/
  height: 92vh;
  width: 100vw;
  background-color: rgba(230, 250, 222, 1);
  position: relative ;
}



.article-wrapper {
  height: 800px;
  background-color: rgba(235, 118, 121, 1);
  position: relative ;
}
.article-title-block {
  height: 81px;
  background-color: rgba(243, 243, 243, 1);
  position: absolute ;
  width: 75%;
  top: 27px;
  margin: 0 0 27px 0;
}
.article-block {
  height: auto;
  background-color: rgba(200, 200, 200, 1);
  position: absolute ;
  top: 130px;
  margin: 0 15%;
}



.profile-wrapper {
  height: 680px;
  background-color: rgba(133, 117, 218, 1);
  position: relative ;
}
.profile-title-block {
  height: 81px;
  background-color: rgba(243, 243, 243, 1);
  width: 75%;
  position: absolute ;
  top: 27px;
}
.profile-left-right-block {
  height: 400px;
  background-color: rgba(175, 116, 19, 0);
  width: 100%;
  position: absolute ;
  top: 130px;
}
.profile-left-block {
  height: 400px;
  background-color: rgba(98, 98, 98, 1);
  width: 30%;
  position: absolute ;
  top: 30px;
  left: 5%;
}
.profile-right-block {
  height: 400px;
  background-color: rgba(36, 26, 168, 1);
  width: 45%;
  position: absolute ;
  top: 30px;
  right: 5%;
}



.category-footer-wrapper {
  height: 773px;
  background-color: rgba(159, 77, 190, 1);
  position: relative ;
}
.category-title-block {
  height: 81px;
  background-color: rgba(243, 243, 243, 1);
  width: 75%;
  position: absolute ;
  top: 27px;
}
.category-content-fx-block {
  height: 400px;
  background-color: rgba(222, 40, 57, 0.8);
  position: absolute ;
  top: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  width: 320px;
  text-align: center;
}
.foooter-block {
  height: 120px;
  width: 100%;
  min-height: 100px;
  background-color: rgba(26, 27, 37, 1);
  position: absolute ;
  bottom: 0;
}

